body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 10px;
    font-weight: bold;
}
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 200px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #218838;
}
.workout-results {
    margin-top: 20px;
    max-height: 400px;
    max-width: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.workout-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.workout-item:last-child {
    border-bottom: none;
}

.workout-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.workout-text {
    text-align: left;
    max-width: 60%;
}

.workout-text ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style-type: disc; 
}

.workout-gif img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
